@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
  scroll-behavior: smooth;
  font-size: 18px;
}

.App {
  background-color: var(--background);
}

:root {
  --background: #ffffff;
  --text-primary: #111111;
  --text-orange: #ff4a52;
  --text-secondary: rgba(204, 200, 200, 0.86);
  --text-white: #ffffff;
  --text-gray: #f0f0f0;
}

[data-theme='dark'] {
  --background: rgb(18, 18, 18, 0.9);
  --text-primary: #ffffff;
  --text-orange: #ff4a52;
  --text-white: #ffffff;
  --text-gray: #f0f0f0;
  --text-secondary: rgba(204, 200, 200, 0.86);

}

.nav-link{
  cursor: pointer;
}

.single-link{
  list-style: none;
  background-color: #ebebeb;
  margin: 5px;
  padding: 10px;
  text-align: center;
  width: 45%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  height: 10%;
}

.single-link:hover{
  cursor: pointer;
  color: var(--text-white);
  transition: .5s;
  background-color: var(--text-orange);
}

.single-link > span > i{
  margin-right: 10px;
}

.follow > ul{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

.latest-item{
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  margin-bottom: 5px;
}

.latest-item-content > *{
  margin-bottom: 5px;
}

.latest-item-content > p > span{
  color: var(--text-secondary)
}

.latest-item-content h5, .latest-item-content > p > i{
  color: var(--text-orange);
}

.latest-img{
  position: relative;
}

.latest-img > .count-number{
  color: var(--text-white);
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 3;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 74, 82, 0.8);
}

.latest-img > .count-number > p{
  margin-bottom: 0;
}

.latest-upadtes{
  background-color: var(--text-gray);
  padding: 50px;
  text-align: center;
}

.latest-upadtes > h5{
  text-transform: uppercase;
}

.latest-upadtes > p{
  text-transform: capitalize;
  color: #d0d0d0;
}

.latest-upadtes > input[type="text"], .latest-upadtes > .btn{
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

.latest-upadtes > .btn{
  background-color: var(--text-orange);
  border: 1px solid var(--text-orange);
}

.category-list table td:nth-child(2){
  text-align: end;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.home{
  margin-left: 20px;
  margin-right: 20px;
}

.section-heading{
  margin-bottom: 30px;
  padding-bottom: 25px;
  position: relative;
  border-bottom: 1px solid #d7d7d7;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: var(--text-primary);
}

.section-heading:before {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  background-color: var(--text-orange);
  height: 3px;
  width: 50px;
}

.category-list table tbody td{
  color: var(--text-primary);
}

.nutritions{
  background-color: #fef1f2;
  padding: 35px;
  margin-bottom: 30px;
}

.box{
  background-color: var(--text-white);
  box-shadow: 0px 0px 27px 0px rgb(0 0 0 / 13%);
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.box table th:nth-child(2) {
  text-align: end;
}

.scroll-top{
  position: fixed;
  right: 5%;
  bottom: 40px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  border-radius: 25px;
  background-color: var(--text-orange);
  border: 1px solid var(--text-orange);
  transition: .2s;
  text-align: center;
}

.incredients{
  background-color: #f8f8f8;
  padding: 35px;
  margin-bottom: 30px;
}

.incredients > h3{
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}

.incredients-list > div{
  margin-bottom: 22px;
}

.incredients-list > div > label{
  display: inline-block;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  color: #444444;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--text-primary);
}

a:hover{
  color: var(--text-primary);
}