.header{
    width: 100%;
}
.main-header{
    padding: 36px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icons > i{
    margin-left: 20px;
    color: #808080;
}

@media only screen and (max-width: 992px){
    .header{
        display: none;
    }
}