.login-page{
    width: 50%;
    background-color: #f0f0f0;
    padding: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%); /* Firefox */
    -ms-transform: translate(-50%, -50%);  /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari and Chrome*/
    -o-transform: translate(-50%, -50%); /* Opera */
    transform: translate(-50%, -50%);
}

.login form .email > input[type="email"]:focus,
.login form .email > input[type="email"],
.login form .password > input[type="password"]:focus,
.login form .password > input[type="password"]{
    border: none;
}

.login-btn{
    width: 100%;
}