.container1 {
  position: relative;
  min-width: 100%;
  transition: .5s;
}

.container1 > img{
  width: 100%;
}

.bottom {
  padding: 10px;
  width: 50%;
  height: 250px;
  background-color: var(--background);
  position: absolute;
  bottom: 0px;
  left:0;
  right:0;
  margin: 0 auto;
  color: var(--text-primary);
}

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-left{
  width: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 5%;
  transform: translateY(-50%);
  background-color: #fff;
}

.btn-right{
  width: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  right: 5%;
  transform: translateY(-50%);
  background-color: #fff;
}

.btn-left:hover, .btn-right:hover{
  background-color: #ff4a52;
  border: 1px solid #ff4a52;
  color: #ffffff;
}

.slider{
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.category{
  color: #ff4a52;
  font-size: 14px;
  text-align: center;
}

.title{
  font-weight:700;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.rating{
  font-size: 16px;
  color: rgba(204, 200, 200, 0.86);
  text-align: center;
}

.description{
  font-size: 16px;
  text-align: center;
  margin-bottom: 25px;
}

.time > i{
  color: #ff4a52;
}

.details > .time{
  color: rgba(204, 200, 200, 0.86);
}

.time > span{
  color: #121212;
  margin-left: 5px;
}

@media only screen and (max-width: 767px) {
  .bottom {
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    position: relative; 
    margin: 0 auto;
  }
}

@media only screen and (max-width: 992px){
  .slider{
    margin-top: 0px;
  }
}